BODY {
	font-family: Verdana,Arial,sans-serif;
	font-size: 80%;
	margin: 0;
	padding: 0;
}
DIV.body {
	margin: 10pt;
	position:absolute;
	text-align:center
}
H1 {
	font-family: Tahoma,Arial,sans-serif;
	font-size: 1.3em;
	color: #3366CC;
	padding-bottom: .3em;
	border-bottom: 1px solid black;
	margin-bottom: 1em;
}
H2 {
	font-family: Tahoma,Arial,sans-serif;
	font-size: 1.2em;
	color: #3366CC;
}
H3 {
	font-family: Tahoma,Arial,sans-serif;
	font-size: 1.1em;
	color: #333366;
}
H4 {
	font-family: Tahoma,Arial,sans-serif;
	font-size: 1em;
	color: #333366;
}
TD, TH , CAPTION {
	font-size: 80%;
	font-family: Verdana,Arial,sans-serif;
	font-weight: bold;
	padding: 5px;
	text-align: center;
	color: #333366;
}
.viewsource {
	font-size: 8pt;
	background: #e4e4e4;
	border: 1px solid black;
	margin: 5px 0;
	padding: 5px;
	color: black !important;
}
.copyright {
	font-size: 8pt;
	margin: 5px 0;
	padding: 5px;
}
.inception {
	border-right: 0px;
	background: #333366;
	color: #FFFFFF;
	font-weight: bold;
	width: 200px;
}
A {
	color: #3366CC;
	text-decoration: none;
}
A:visited {
	color: #333366;
}
A:hover {
	text-decoration: underline;
}
